body {
  font-family: 'Share Tech', sans-serif;
}

h1, h2 {
  display: block;
  -webkit-margin-before: 0.0em;
  -webkit-margin-after: 0.0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

.control-group {
  border: 1px solid #777;
  padding: 5px;
  -webkit-margin-before: 0.75em;
  -webkit-margin-after: 0.75em;
}

.control-subgroup {
  border: 0.5px dotted #ccc;
  padding: 5px;
  -webkit-margin-before: 0.75em;
  -webkit-margin-after: 0.75em;
}