@font-face {
  font-family: "dseg7-classic";
  src: url("fonts/DSEG7-Classic/DSEG7Classic-Regular.woff") format("woff");
}

@font-face {
  font-family: "dseg7-classic";
  src: url("fonts/DSEG7-Classic/DSEG7Classic-Italic.woff") format("woff");
  font-style: oblique;
}

@font-face {
  font-family: "dseg7-classic";
  src: url("fonts/DSEG7-Classic/DSEG7Classic-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: oblique;
}

@font-face {
  font-family: "dseg7-classic-mini";
  src: url("fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-Regular.woff") format("woff");
}

@font-face {
  font-family: "dseg7-classic-mini";
  src: url("fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-Italic.woff") format("woff");
  font-style: oblique;
}

@font-face {
  font-family: "dseg7-classic-mini";
  src: url("fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: oblique;
}

@font-face {
  font-family: "dseg14-classic";
  src: url("fonts/DSEG14-Classic/DSEG14Classic-Regular.woff") format("woff");
}

@font-face {
  font-family: "dseg14-classic";
  src: url("fonts/DSEG14-Classic/DSEG14Classic-Italic.woff") format("woff");
  font-style: oblique;
}

@font-face {
  font-family: "dseg14-classic";
  src: url("fonts/DSEG14-Classic/DSEG14Classic-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: oblique;
}

@font-face {
  font-family: "dseg14-classic-mini";
  src: url("fonts/DSEG14-Classic-MINI/DSEG14ClassicMini-Regular.woff") format("woff");
}

@font-face {
  font-family: "dseg14-classic-mini";
  src: url("fonts/DSEG14-Classic-MINI/DSEG14ClassicMini-Italic.woff") format("woff");
  font-style: oblique;
}

@font-face {
  font-family: "dseg14-classic-mini";
  src: url("fonts/DSEG14-Classic-MINI/DSEG14ClassicMini-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: oblique;
}

@font-face {
  font-family: 'Stop';
  src: url('fonts/Stop/Stop.woff') format('woff'),
       url('fonts/Stop/Stop.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Uncial';
  src: url('fonts/Uncial/Uncial.woff') format('woff'),
       url('fonts/Uncial/Uncial.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
